FE:
  image: httpd:2.4
  ports:
    - 81:80
  hostname: fe
  restart: always
  volumes-from: 
    - FE-DATA
  labels:
    io.rancher.sidekicks: FE-DATA

FE-DATA:
  image: httpd:2.4
  volumes:
    - /usr/local/apache2/htdocs/
  labels:
    io.rancher.container.start_once: true
  entrypoint: /bin/echo 
  command: Data-only container for ${stack_name}${ENV}${service_name}${NAME}0${scale}

MD:
  image: httpd:2.4
  ports:
    - 82:80
  hostname: md
  restart: always
  volumes-from: 
    - MD-DATA
  labels:
    io.rancher.sidekicks: MD-DATA

MD-DATA:
  image: httpd:2.4
  volumes:
    - /usr/local/apache2/htdocs/
  labels:
    io.rancher.container.start_once: true
  entrypoint: /bin/echo 
  command: Data-only container for $${stack_name}${ENV}$${service_name}${NAME}0${scale}

MSG:
  image: httpd:2.4
  ports:
    - 83:80
  hostname: msg
  restart: always
  volumes-from: 
    - MSG-DATA
  labels:
    io.rancher.sidekicks: MSG-DATA

MSG-DATA:
  image: httpd:2.4
  volumes:
    - /usr/local/apache2/htdocs/
  labels:
    io.rancher.container.start_once: true
  entrypoint: /bin/echo 
  command: Data-only container for $${stack_name}${ENV}$${service_name}${NAME}0${scale}
